/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/login/Login.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/* /app/login/Login.module.css */

.Login_loginContainer__cO_2v {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    background-color: #f0f4f8; /* Color de fondo suave */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .Login_header__L1ztH {
    color: #333;
    margin-bottom: 20px;
  }
.Login_error__Cx5YU{
  color: red;
  text-align: center;
  margin-bottom: 10px;
}
  .Login_loginForm__xBECt {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px; /* Máxima anchura del formulario */
    background-color: #fff; /* Color de fondo blanco */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .Login_inputField__AXpH4 {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd; /* Borde suave */
    border-radius: 5px;
    font-size: 16px;
  }
  
  .Login_inputField__AXpH4:focus {
    border-color: #0070f3; /* Color del borde al enfocar */
    outline: none; /* Quitar el contorno por defecto */
  }
  
  .Login_loginButton__7nD4H {
    padding: 10px;
    background-color: #0070f3; /* Color del botón */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave al cambiar el color */
  }
  
  .Login_loginButton__7nD4H:hover {
    background-color: #005bb5; /* Color del botón al pasar el mouse */
  }
  
  /* Estilos Responsivos */
  @media (max-width: 600px) {
    .Login_loginContainer__cO_2v {
      padding: 10px;
    }
  
    .Login_loginForm__xBECt {
      padding: 20px;
    }
  
    .Login_inputField__AXpH4 {
      font-size: 14px; /* Tamaño de fuente más pequeño en dispositivos móviles */
    }
  
    .Login_loginButton__7nD4H {
      font-size: 14px; /* Tamaño de fuente más pequeño en dispositivos móviles */
    }
  }
  
