/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./styles/Modal.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.Modal_company_form___y_lx {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    gap: 1rem; /* Espaciado entre los elementos */
  }
  
  .Modal_form_group__4Yn58 {
    display: flex;
    flex-direction: column;
  }
  
  .Modal_form_input__K9CcL {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;    
    width: 100%; /* Usa todo el ancho del contenedor */
  }
  
  .Modal_error__Pi7FA {
    color: red; /* Texto rojo */
    font-weight: bold; /* Opcional: Hace el texto más visible */
    margin-top: 5px; /* Espacio arriba */
  }
  
  .Modal_dialog_content__F_6px {
    padding: 1.5rem; /* Agrega espacio interno en la modal */
  }

.Modal_btn_new__Acxys{
 margin-bottom: 1rem;
}  

.Modal_btn_save_cancel__L6sPC{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    gap: 1rem; /* Espaciado entre los botones */
    width: 100%; /* Usa todo el ancho del contenedor */
    flex-direction: column;
}

.Modal_headerButtons__F2TnF {
  display: flex;
  align-items: center;  /* Alinea los elementos verticalmente */
  gap: 10px;  /* Espaciado entre los botones */
  margin-bottom: 1rem;
}

.Modal_title__haUON{
  justify-content: center; /* Centrar horizontalmente */
  align-items: center;
  display: flex;
  width: 100%; /* Usa todo el ancho del contenedor */
  flex-direction: column;
  font-size: 30px;
  color: white;
  font-weight:bold;
 }  

.Modal_logout_container__U0ddM {
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 20px;
}

.Modal_user_info__fnjer {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  border-radius: 4px;
}

.Modal_info_item__0gB4V {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #495057;
  font-size: 0.9rem;
}

.Modal_info_item__0gB4V:last-child {
  margin-bottom: 0;
}
